//
// Backgrounds
//

.bg-green       { background-color: $green !important; }
.bg-red         { background-color: $red !important; }
.bg-grey        { background-color: $grey-700 !important }
.bg-black       { background-color: $black !important }
.bg-transparent { background-color: transparent !important; }

.t-green      { color: $green !important; }
.t-red        { color: $red !important; }
.t-grey       { color: $grey-300 !important }
.t-light-grey { color: $grey-500 !important }
.t-white      { color: $white !important; }
.t-black      { color: $black !important; }
