//
// Spacing
//

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size}  { #{$prop}:        $length !important; }
    .#{$abbrev}t-#{$size} { #{$prop}-top:    $length !important; }
    .#{$abbrev}r-#{$size} { #{$prop}-right:  $length !important; }
    .#{$abbrev}b-#{$size} { #{$prop}-bottom: $length !important; }
    .#{$abbrev}l-#{$size} { #{$prop}-left:   $length !important; }
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
      #{$prop}-left:  $length !important;
    }
    .#{$abbrev}y-#{$size} {
      #{$prop}-top:    $length !important;
      #{$prop}-bottom: $length !important;
    }
  }
}

// Some special margin utils
.m-auto  { margin:        auto !important; }
.mt-auto { margin-top:    auto !important; }
.mr-auto { margin-right:  auto !important; }
.mb-auto { margin-bottom: auto !important; }
.ml-auto { margin-left:   auto !important; }
.mx-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}
.my-auto {
  margin-top:    auto !important;
  margin-bottom: auto !important;
}
