@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;

    &::before,
    &::after {
      animation: none !important;
      transition: none !important;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
  margin: -1px;
}
