//
// Document
//


// 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
// 2. Change the default font family in all browsers.
// 3. Correct the line height in all browsers.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
//    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 6. Change the default tap highlight to be completely transparent in iOS.
html {
  box-sizing: border-box; // 1
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(0,0,0,0); // 6
}

*,
*::before,
*::after {
  box-sizing: inherit; // 1
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport { width: device-width; }
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
body {
  margin: 0; // 1
  font-family: $font-family;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-bg; // 2
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
[tabindex="-1"]:focus {
  outline: none !important;
}

// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
hr {
  box-sizing: content-box; // 1
  height: 0; // 1
  overflow: visible; // 2
}

// Make cursor selection more brand compliant
::selection {
  background: $brand-primary;
  color: $white;
}


//
// Typography
//

address {
  margin-bottom: $spacer;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: $spacer * .5;
  // Undo browser default
  margin-left: 0;
}

blockquote {
    margin: 0 0 $spacer;
}

// Add the correct font style in Android 4.3-
dfn {
  font-style: italic;
}

// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
  font-weight: bold;
}

// Add the correct font size in all browsers
small {
  font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }


//
// Code
//

pre,
code,
kbd,
samp {
  // Correct the inheritance and scaling of font size in all browsers.
  font-family: monospace, monospace;
  // Correct the odd `em` font sizing in all browsers.
  font-size: 1em;
}

pre {
  // Remove browser default top margin
  margin-top: 0;
  // Reset browser default of `1em` to use `rem`s
  margin-bottom: $spacer;
  // Don't allow content to break outside
  overflow: auto;
}


//
// Figures
//

// Apply a consistent margin strategy (matches our type styles).
figure {
  margin: 0 0 $spacer;
}


//
// Images and content
//

img {
  vertical-align: middle;
  // Remove the border on images inside links in IE 10-.
  border-style: none;
}

// Hide the overflow in IE
svg:not(:root) {
  overflow: hidden;
}


// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
//
// In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
// DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
// However, they DO support removing the click delay via `touch-action: manipulation`.
// See:
// * https://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
// * http://caniuse.com/#feat=css-touch-action
// * https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}


//
// Tables
//

// Prevent double borders
table {
  border-collapse: collapse;
}

caption {
  padding-top: $spacer * .75;
  padding-bottom: $spacer * .75;
  color: $grey-700;
  text-align: left;
  caption-side: bottom;
}

// Matches default `<td>` alignment
th {
  text-align: left;
}


//
// Forms
//

// Allow labels to use `margin` for spacing.
label {
  display: block;
  margin-bottom: $spacer * .5;
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
// Credit: https://github.com/suitcss/base/
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  // Remove the margin in Firefox and Safari
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  &:disabled {
    cursor: not-allowed;
  }
}

// Show the overflow in Edge
button,
input {
  overflow: visible;
}

// Remove the inheritance of text transform in Firefox
button,
select {
  text-transform: none;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
button,
html [type="button"], // 1
[type="reset"],
[type="submit"] {
  border-radius: 0;
  -webkit-appearance: button; // 2
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// 1. Add the correct box sizing in IE 10-
// 2. Remove the padding in IE 10-
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

// Remove the default appearance of temporal inputs to avoid a Mobile Safari
// bug where setting a custom line-height prevents text from being vertically
// centered within the input.
// See https://bugs.webkit.org/show_bug.cgi?id=139848
// and https://github.com/twbs/bootstrap/issues/11266
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  // Remove the default vertical scrollbar in IE.
  overflow: auto;
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

fieldset {
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // So we reset that to ensure fieldsets behave more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359
  // and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
  min-width: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  padding: 0;
  margin: 0;
  border: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
legend {
  display: block;
  width: 100%;
  max-width: 100%; // 1
  padding: 0;
  margin-bottom: $spacer * .5;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit; // 2
  white-space: normal; // 1
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
  vertical-align: baseline;
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  // This overrides the extra rounded corners on search inputs in iOS so that our
  // `.form-control` class can properly style them. Note that this cannot simply
  // be added to `.form-control` as it's not specific enough. For details, see
  // https://github.com/twbs/bootstrap/issues/11586.
  outline-offset: -2px; // 2. Correct the outline style in Safari.
  -webkit-appearance: none;
}

// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
  font: inherit; // 2
  -webkit-appearance: button; // 1
}


//
// Correct element displays
//

output {
  display: inline-block;
}

summary {
  display: list-item;
}

// Add the correct display in IE
template {
  display: none;
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] {
  display: none !important;
}
